.button {
  background-color: color(monochrome, black);
  border: 1px solid color(monochrome, black);
  border-radius: 3px;
  color: color(monochrome, white);
  font-size: 1rem;
  letter-spacing: 0.025em;
  padding: 4px 16px;
  position: relative;
  text-transform: none;
}

.button--outline {
  background-color: transparent;
  color: color(monochrome, black);
}

.button--small {
  font-size: .75rem;
}

.button--block {
  display: block;
  width: 100%;
}

.button--mobile-no {
  @media #{$mobile-lg} {
    display: none;
  }
}

.button--inverted {
  color: color(monochrome, white);
  border: 1px solid color(monochrome, white);
}

.button--anchor {
  text-align: center;
  text-decoration: none;

  &:hover {
    color: color(monochrome, white);
    text-decoration: none;
  }
}
