<!--Done-->
<div class="account">
  <div *ngIf="scriptDetails" class="account__user">
    <h1 class="account__user-title">Script</h1>

    <img class="account__user-avatar" [src]="scriptDetails.image" [alt]="scriptDetails.sname + ' image'">

    <span class="account__user-info">{{ scriptDetails.sname }}</span>
    <span class="account__user-info account__user-info--muted">{{ scriptDetails.name }}</span>
  </div>

  <div class="account__tables">
    <div class="account__tables-export">
      <button class="button button--small button--outline button--mobile-no account__tables-export-button" (click)="downloadResellerKeys()">
        Export Unsold Keys
      </button>
    </div>

    <div class="account__tables-header">
      <h2 class="account__tables-title account__tables-title--no-margin">Unsold Keys</h2>
      <h2 class="users__header-info">{{ unsoldKeyCount }} Unsold</h2>
    </div>
    <div class="account__table">
      <table class="table table--align-center table--flush">
        <thead class="table-header table-header--light">
        <tr class="table-row">
          <th class="table-head">Key</th>
          <th class="table-head">Length (Seconds)</th>
          <th class="table-head">Creation Date</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <ng-container *ngFor="let unsoldKeys of filteredUnsoldResellerKeys | paginate: { itemsPerPage: 10,
        currentPage: pageTwo, id: 'second'}">
          <tr class="table-row">
            <td class="table-data table-data--dark">
              <b>{{ unsoldKeys.key }}</b>
            </td>
            <td class="table-data">
              {{ unsoldKeys.key_duration }}
            </td>
            <td class="table-data">
              {{ unsoldKeys.creation_timestamp }}
            </td>
          </tr>
        </ng-container>
          <tr *ngIf="unsoldKeyCount === 0" class="table-row">
            <td class="table-data table-data--center table-data--text-center" colspan="2">No Keys Purchased</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="second" (pageChange)="pageTwo = $event" [autoHide]="true"></pagination-controls>
    </div>

    <div class="account__tables-header">
      <h2 class="account__tables-title account__tables-title--no-margin">Sold Keys</h2>
      <span class="users__header-info">{{ soldKeyCount }} Sold</span>
    </div>
    <div class="account__table">
      <table class="table table--align-center table--flush">
        <thead class="table-header table-header--light">
        <tr class="table-row">
          <th class="table-head">Key</th>
          <th class="table-head">User</th>
          <th class="table-head">Redeem Date</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <ng-container *ngFor="let soldKeys of filteredSoldResellerKeys | paginate: { itemsPerPage: 10,
        currentPage: page, id: 'first'}">
          <tr class="table-row">
            <td class="table-data table-data--dark">
              <b>{{ soldKeys.key }}</b>
            </td>
            <td class="table-data">
              {{ soldKeys.redeemed_by_name }}
            </td>
            <td class="table-data">
              {{ soldKeys.use_timestamp }}
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="soldKeyCount === 0" class="table-row">
          <td class="table-data table-data--center table-data--text-center" colspan="3">No Keys Sold</td>
        </tr>
        </tbody>
      </table>
      <pagination-controls id="first" (pageChange)="page = $event" [autoHide]="true"></pagination-controls>
    </div>
  </div>
</div>
