.modal__header {
  align-items: center;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  text-align: center;
}

.modal__header--align-left {
  align-items: flex-start;
}

.modal__header-title {
  color: color(text, base);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.modal__header-price {
  font-size: .875rem;
  font-weight: 400;
  margin-top: 8px;

  @extend .modal__header-title;
}

.modal__header-error {
  color: color(status, expired-text);
  font-size: .875rem;
  margin-bottom: 0;
  margin-top: 8px;
}

.modal__header-info {
  color: color(text, muted);
  font-size: .875rem;
  margin-bottom: 0;
  margin-top: 8px;
}

.modal__body {
  padding: 0 24px 24px;
}

.modal__body-text {
  color: color(text, muted);
  font-size: .875rem;
  margin-bottom: 0;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal__auth-code {
  background-color: color(monochrome, code);
  border-radius: 7px;
  cursor: default;
  display: block;
  margin-bottom: 16px;
  max-height: 200px;
  overflow: auto;
  position: relative;

  pre {
    color: color(monochrome, white);
  }
}
.modal__footer {
  padding: 0 24px 24px;
}

.modal__footer--actions {
  display: flex;
}

.modal__footer-form {
  align-items: center;
  width: 100%;
}

.modal__footer-quantity {
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 4px;
  width: 33%;
}
