<!--Done-->
<div class="store">
  <div class="store__filters">
    <h2 class="store__product-section-title">All Products</h2>
    <input class="store__filter-input form-control" [(ngModel)]="searchTerm" placeholder="Search Products" type="text"
           aria-label="Search Products">
  </div>

  <div class="store__products">
    <ng-container *ngFor="let script of newScriptsList | filter: searchTerm; let i = index">
      <ng-container *ngIf="(isAmber === false && script.id !== 49) || (isAmber === true)">
        <div *ngIf="isAuthenticated" class="store__product"
             (mouseover)="script.price_eur !== -1 && script.price_eur !== 0 ? productHover(i, true): ''"
             (mouseout)="script.price_eur !== -1 && script.price_eur !== 0 ? productHover(i, false) : ''">

          <ngx-skeleton-loader *ngIf="!isLoaded" appearance="circle" [theme]="{width: '211.667px', height: '200px',
                                                                      'border-radius': '3px', 'margin': '0'}">
          </ngx-skeleton-loader>

          <img *ngIf="script.image && isLoaded" class="store__product-image" (click)="holdScriptToAdd(script);
                openModal(productInfo)" [src]="script.image" [alt]="script.sname + ' Product Image'">
          <span *ngIf="!script.image && isLoaded" class="store__product-image" (click)="holdScriptToAdd(script);
                openModal(productInfo)"></span>

          <div class="store__product-details">
            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '187px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>

            <h3 *ngIf="isLoaded" class="store__product-name" (click)="holdScriptToAdd(script);
                openModal(productInfo)">{{ script.sname }}</h3>

            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '100px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>

            <span *ngIf="isLoaded" class="store__product-author" (click)="holdScriptToAdd(script);
                openModal(productInfo)">
              <ng-container *ngIf="script.name !== 'Dalenka'">
                {{ script.name }}
              </ng-container>
              <ng-container *ngIf="script.name === 'Dalenka'">
                MrImpressive
              </ng-container>
            </span>

            <span *ngIf="isLoaded && (!isHovered || isHovered && hoveredIndex !== i)" class="store__product-price">
              <ng-container *ngIf="script.price_1_day !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_day | currency: 'EUR' }} Day </span>
              </ng-container>
              <ng-container *ngIf="script.price_1_week !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_week | currency: 'EUR' }} Week </span>
              </ng-container>
              <ng-container *ngIf="script.price_1_month !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_month | currency: 'EUR' }} Month </span>
              </ng-container>
              <ng-container *ngIf="script.price_eur !== 9999999 && script.price_eur !== -1 && script.price_eur !== 0">
                <span class="store__product-price--nowrap">{{ script.price_eur | currency: 'EUR' }} Lifetime </span>
              </ng-container>
            </span>
            <span *ngIf="isLoaded && (isHovered && hoveredIndex === i)" class="index__product-cart"
                  (click)="holdScriptToAdd(script); addToCart(false)">
              Add to cart
            </span>

            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '75px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>
          </div>
        </div>

        <div *ngIf="!isAuthenticated" class="store__product" (mouseover)="productHover(i, true)"
             (mouseout)="productHover(i, false)">
          <ngx-skeleton-loader *ngIf="!isLoaded" appearance="circle" [theme]="{width: '211.667px', height: '200px',
                                                                      'border-radius': '3px', 'margin': '0'}">
          </ngx-skeleton-loader>

          <img *ngIf="script.image && isLoaded" class="store__product-image" (click)="loginPrompt()"
               [src]="script.image" [alt]="script.sname + ' Product Image'">
          <span *ngIf="!script.image && isLoaded" class="store__product-image" (click)="loginPrompt()"></span>

          <div class="store__product-details">
            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '187px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>

            <h3 *ngIf="isLoaded" class="store__product-name" (click)="loginPrompt()">{{ script.sname }}</h3>

            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '100px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>

            <span *ngIf="isLoaded" class="store__product-author" (click)="loginPrompt()">
              <ng-container *ngIf="script.name !== 'Dalenka'">
                {{ script.name }}
              </ng-container>
              <ng-container *ngIf="script.name === 'Dalenka'">
                MrImpressive
              </ng-container>
            </span>

            <span *ngIf="!isAuthenticated && isLoaded" class="store__product-price">
              <ng-container *ngIf="script.price_1_day !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_day | currency: 'EUR' }} Day </span>
              </ng-container>
              <ng-container *ngIf="script.price_1_week !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_week | currency: 'EUR' }} Week </span>
              </ng-container>
              <ng-container *ngIf="script.price_1_month !== -1">
                <span class="store__product-price--nowrap">{{ script.price_1_month | currency: 'EUR' }} Month </span>
              </ng-container>
              <ng-container *ngIf="script.price_eur !== 9999999 && script.price_eur !== -1 && script.price_eur !== 0">
                <span class="store__product-price--nowrap">{{ script.price_eur | currency: 'EUR' }} Lifetime </span>
              </ng-container>
            </span>

            <ngx-skeleton-loader *ngIf="!isLoaded" [theme]="{width: '75px', height: '18px', 'margin': '0'}">
            </ngx-skeleton-loader>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #productInfo>
  <div class="modal modal-content">
    <div class="modal__header modal__header--align-left">
      <div class="modal__header-actions">
        <h3 class="modal__header-title">{{ scriptToAdd.sname }}</h3>
        <i class="modal__header-close gg-close" (click)="closeModal()"></i>
      </div>
      <ng-container *ngIf="scriptToAdd.price_1_day != -1">
        <h3 class="modal__header-price">{{ scriptToAdd.price_1_day | currency: 'EUR' }} Day</h3>
      </ng-container>
      <ng-container *ngIf="scriptToAdd.price_1_week != -1">
        <h3 class="modal__header-price">{{ scriptToAdd.price_1_week | currency: 'EUR' }} Week</h3>
      </ng-container>
      <ng-container *ngIf="scriptToAdd.price_1_month != -1">
        <h3 class="modal__header-price">{{ scriptToAdd.price_1_month | currency: 'EUR' }} Month</h3>
      </ng-container>
      <ng-container *ngIf="scriptToAdd.price_eur != 9999999 && scriptToAdd.price_eur != -1 &&
                           scriptToAdd.price_eur != 0">
        <h3 class="modal__header-price">{{ scriptToAdd.price_eur | currency: 'EUR' }} Lifetime</h3>
      </ng-container>
    </div>
    <div class="modal__body container-fluid">
      <p class="modal__body-text" [innerHTML]="scriptToAdd.sinfo"></p>
    </div>

    <footer *ngIf="scriptToAdd.price_eur !== -1 && scriptToAdd.price_eur !== 0" class="modal__footer modal__footer--actions">
      <form class="row no-gutters modal__footer-form" [formGroup]="keyForm" (ngSubmit)="addToCart(true)">
        <input class="modal__footer-quantity form-control" formControlName="keyAmount" type="number"
               placeholder="Number of Keys" min="1" aria-label="Quantity">

        <select class="modal__footer-quantity form-control" formControlName="keyLength" aria-label="Key Length">
          <ng-container *ngIf="scriptToAdd.price_1_day != -1">
            <option value="1">Day</option>
          </ng-container>
          <ng-container *ngIf="scriptToAdd.price_1_week != -1">
            <option value="7">Week</option>
          </ng-container>
          <ng-container *ngIf="scriptToAdd.price_1_month != -1">
            <option value="31">Month</option>
          </ng-container>
          <ng-container *ngIf="scriptToAdd.price_eur != 9999999 && scriptToAdd.price_eur != -1 &&
                           scriptToAdd.price_eur != 0">
            <option value="-1">Lifetime</option>
          </ng-container>
        </select>

        <button class="button" type="submit">Add to Cart</button>
      </form>
    </footer>
  </div>
</ng-template>
