@font-face {
  font-family: 'Catamaran';
  font-weight: 400;
  src: url('../../../fonts/Catamaran/Catamaran-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 500;
  src: url('../../../fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 600;
  src: url('../../../fonts/Catamaran/Catamaran-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 700;
  src: url('../../../fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
}
