.breadcrumbs {
  display: inline-flex;
  margin-bottom: 0;
}

.breadcrumb {
  background-color: transparent;
  color: color(text, base);
  font-size: .875rem;
  margin-bottom: 0;
  padding-left: 0;
}

.breadcrumb__link {
  color: color(text, base);
}

.breadcrumb--active {
  color: color(text, base);
}
