<!--done-->
<div class="login">
  <div class="login__form-box">
    <div class="login__form-box-header">
      <h1 class="login__form-box-title">Reset Your Password</h1>
      <p class="login__form-box-message">
        After resetting you will need to log in again.
      </p>
      <p *ngIf="resetForm && resetForm.hasError('confirm')" class="register__form-box-error">
        Your passwords do not match!
      </p>
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()">
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="gg-password"></i>
            </span>
          </div>
          <input class="form-control" id="password" formControlName="password" placeholder="Password" type="password"
                 aria-label="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="gg-password"></i>
            </span>
          </div>
          <input class="form-control" id="password-confirmation" formControlName="passwordConfirmation"
                 placeholder="Confirm Password" type="password" aria-label="Confirm Password">
        </div>
      </div>
      <button class="button button--outline button--block" type="submit">
        Change Password
      </button>
    </form>
  </div>

  <div class="login__other-options">
    <a class="login__register-link" routerLink="/authentication/register" queryParamsHandling="preserve">
      <small>Create account</small>
    </a>
    <a class="login__register-link" routerLink="/authentication/login" queryParamsHandling="preserve">
      <small>Login</small>
    </a>
  </div>
</div>
