<!--Done-->
<div class="script-users">
  <div class="script-users__header">
    <nav aria-label="breadcrumb">
      <h6 class="script-users__header-page-title">Script Sales</h6>
      <ol class="breadcrumbs">
        <li class="breadcrumb">
          <a class="breadcrumb__link" routerLink="/admin">Admin Dashboard</a>
        </li>
        <li class="breadcrumb">
          <a class="breadcrumb__link" routerLink="/admin/scripts">Scripts</a>
        </li>
        <li class="breadcrumb breadcrumb--active" aria-current="page">Script Sales</li>
      </ol>
    </nav>
    <input class="store__filter-input form-control" [(ngModel)]="searchTerm" placeholder="Search Orders" type="text"
           aria-label="Search Orders">
  </div>

  <div class="script-users__table">
    <div class="account__table">
      <table class="table table--align-center table--flush">
        <thead class="table-header table-header--light">
        <tr class="table-row">
          <th class="table-head">User</th>
          <th class="table-head">Payment Type</th>
          <th class="table-head">EUR Recieved</th>
          <th class="table-head">Last Updated</th>
          <th class="table-head">Order Status</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <ng-container *ngFor="let scriptPayment of scriptPayments |
        paginate: { itemsPerPage: 21, currentPage: scriptPaymentsPage } | filter: searchTerm">
          <tr class="table-row">
            <td class="table-data table-data--dark">
              <a class="table-data table-data--dark" [routerLink]="'/admin/users/' + scriptPayment.username"
                 [queryParams]="{user_id: scriptPayment.user_id}" queryParamsHandling="merge">
                <b>{{ scriptPayment.username }}</b>
              </a>
            </td>
            <td class="table-data">
              <ng-container *ngIf="scriptPayment.pp_id">
                PayPal
              </ng-container>
              <ng-container *ngIf="!scriptPayment.pp_id">
                Crypto
              </ng-container>
            </td>
            <td class="table-data">
              {{ scriptPayment.euro | currency: 'EUR' }}
            </td>
            <td class="table-data">
              {{ scriptPayment.last_update }}
            </td>
            <td class="table-data">
              <ng-container *ngIf="scriptPayment.current_status">
                <span *ngIf="scriptPayment.current_status === 'CREATED' || scriptPayment.current_status === 'INIT'"
                      class="badge badge--danger">
                  Incomplete
                </span>
                <span *ngIf="scriptPayment.current_status === 'COMPLETED'" class="badge badge--success">
                  Complete
                </span>
              </ng-container>
              <ng-container *ngIf="scriptPayment.coinpayments_raw_status">
                <span *ngIf="scriptPayment.coinpayments_raw_status === -2" class="badge badge--danger">
                 Refunded
                </span>
                <span *ngIf="scriptPayment.coinpayments_raw_status === -1" class="badge badge--danger">
                 Timed Out
                </span>
                <span *ngIf="scriptPayment.coinpayments_raw_status === 1" class="badge badge--pending">
                 Recieved
                </span>
                <span *ngIf="scriptPayment.coinpayments_raw_status === 100" class="badge badge--success">
                  Complete
                </span>
              </ng-container>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="!isLoaded">
          <tr *ngFor="let dummy of ' '.repeat(7).split('')" class="table-row">
            <td *ngFor="let dummy of ' '.repeat(5).split('')" class="table-data">
              <ngx-skeleton-loader [theme]="{height: '24px', 'margin': '0'}"></ngx-skeleton-loader>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="scriptPayments && scriptPayments.length === 0 && isLoaded === true">
          <td class="table-data" colspan="5">
            <span>No Sales Yet</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="scriptPaymentsPage = $event" [autoHide]="true"></pagination-controls>
  </div>
</div>
