<!--done-->
<div class="checkout">
  <h6 class="checkout__page-title">Checkout</h6>

  <div class="checkout__cart">
    <ul class="checkout__cart-items">
      <li *ngFor="let cartItem of cartInventory; let i = index" class="checkout__cart-item">
        <img *ngIf="cartItem.image" class="checkout__cart-item-image" [src]="cartItem.image" alt="Product Image">
        <span *ngIf="!cartItem.image" class="checkout__cart-item-image"></span>

        <div class="checkout__cart-item-info">
          <div class="checkout__cart-item-info-top">
            <span class="checkout__cart-item-info-name">{{ cartItem.sname }}</span>
            <span class="checkout__cart-item-info-price">
              {{ cartItem.amount }} x {{ cartItem.price_eur | currency: 'EUR' }}
            </span>
          </div>

          <div class="checkout__cart-item-info-middle">
            <span class="checkout__cart-item-info-author">{{ cartItem.name }}</span>
            <div class="checkout__cart-item-info-middle-actions">
              <span class="checkout__cart-item-delete" (click)="deleteProduct(cartItem)">Delete Item</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="checkout__totals">
    <span class="checkout__totals-title">Subtotal</span>
    <span class="checkout__totals-number">{{ cartTotal | currency: 'EUR' }}</span>
  </div>

  <div class="checkout__totals  checkout__totals--padding-bottom">
    <span class="checkout__totals-title">Discounts</span>
    <span class="checkout__totals-number">None</span>
  </div>

  <div class="checkout__totals-final">
    <div class="checkout__totals">
      <span class="checkout__totals-title">Total</span>
      <span class="checkout__totals-number">{{ cartTotal | currency: 'EUR' }}</span>
    </div>

    <div class="checkout__button-wrapper">
      <button class="button button--outline button--small checkout__button"
              (click)="isAmber ? openModal(getAuroraName) : choosePaymentOption()">
        Finish Checkout
      </button>
    </div>
  </div>
</div>

<ng-template #getAuroraName>
  <div class="modal modal-content">
    <div class="modal__header">
      <h3 class="modal__header-title">Enter Your Aurorabot Username</h3>
    </div>
    <div class="modal__body container-fluid">
      <form class="row no-gutters" [formGroup]="amberNameForm" (ngSubmit)="choosePaymentOption()">
        <div class="form-group col-12">
          <label class="form-control-label" for="aurora-username">Aurorabot Username</label>
          <input class="form-control" id="aurora-username" formControlName="auroraName" type="text">
        </div>
        <button class="button button--outline button--block" type="submit">Submit Username</button>
      </form>
    </div>
  </div>
</ng-template>
