<!-- Done -->
<div class="header">
  <nav class="header__nav">
    <ul class="header__nav-list">
      <ng-container *ngIf="userDetails">
        <li *ngIf="!isUser" class="header__nav-list-item">
          <div class="col-auto header__nav-list-dropdown" dropdown>
            <a class="header__nav-list-item" dropdownToggle>Dashboard <i class="gg-chevron-down"></i></a>
            <div class="dropdown dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
              <ul class="dropdown__list">
                <ng-container *ngFor="let role of userDetails.role">
                  <li *ngIf="role === 'developer'" class="dropdown__list-item dropdown-item">
                    <a class="dropdown__list-item" routerLink="/dashboard/scripts">Scripts</a>
                  </li>
                  <li *ngIf="role === 'admin'" class="dropdown__list-item dropdown-item">
                    <a class="dropdown__list-item" routerLink="/admin/scripts">All Scripts</a>
                  </li>
                  <li *ngIf="role === 'admin'" class="dropdown__list-item dropdown-item">
                    <a class="dropdown__list-item" routerLink="/admin/users">All Users</a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </li>
      </ng-container>
      <li class="header__nav-list-item">
        <a class="header__nav-list-item" routerLink="/shop">
          Shop
        </a>
      </li>
    </ul>
  </nav>

  <a class="header__logo" routerLink="/">
    JKAuth
  </a>

  <div class="header__user-actions">
    <ng-container *ngIf="isAuthenticated">
      <div class="col-auto" dropdown>
        <div class="header__cart-toggle" dropdownToggle>
          <i class="gg-shopping-cart"></i>
          <span class="header__cart-amount">({{ cartInventoryLength }})</span>
        </div>

        <div  class="dropdown dropdown-menu header__cart" aria-labelledby="dropdownMenuButton" *dropdownMenu>
          <ul class="dropdown__cart-list">
            <li *ngFor="let cartItem of cartInventory; let i = index" class="dropdown__cart-list-item dropdown-item">
              <img *ngIf="cartItem.image" class="dropdown__cart-list-item-image" [src]="cartItem.image" alt="Product Image">
              <span *ngIf="!cartItem.image" class="dropdown__cart-list-item-image"></span>
              <div class="dropdown__cart-list-item-details">
                <span class="dropdown__cart-list-item-name">{{ cartItem.sname }} |
                  <ng-container *ngIf="cartItem.purchaseLength === 1">
                    Day
                  </ng-container>
                  <ng-container *ngIf="cartItem.purchaseLength === 7">
                    Week
                  </ng-container>
                  <ng-container *ngIf="cartItem.purchaseLength === 31">
                    Month
                  </ng-container>
                  <ng-container *ngIf="cartItem.purchaseLength === -1">
                    Lifetime
                  </ng-container>
                </span>
                <ng-container *ngIf="cartItem.purchaseLength === 1">
                  <span class="dropdown__cart-list-item-price">{{ cartItem.price_1_day | currency: 'EUR' }}</span>
                </ng-container>
                <ng-container *ngIf="cartItem.purchaseLength === 7">
                  <span class="dropdown__cart-list-item-price">{{ cartItem.price_1_week | currency: 'EUR' }}</span>
                </ng-container>
                <ng-container *ngIf="cartItem.purchaseLength === 31">
                  <span class="dropdown__cart-list-item-price">{{ cartItem.price_1_month | currency: 'EUR' }}</span>
                </ng-container>
                <ng-container *ngIf="cartItem.purchaseLength === -1">
                  <span class="dropdown__cart-list-item-price">{{ cartItem.price_eur | currency: 'EUR' }}</span>
                </ng-container>
              </div>
              <i class="dropdown__cart-list-item-delete gg-close" (click)="deleteFomCart(cartItem)"></i>
            </li>
          </ul>

          <a *ngIf="cartInventoryLength != 0" class="button button--outline button--block button--inverted button--anchor"
             routerLink="/checkout">
            Checkout
          </a>
        </div>
      </div>

      <div class="col-auto header__account-dropdown" dropdown>
        <div class="header__account" dropdownToggle>
          <div class="header__account-details">
            <span class="header__username">{{ username }}</span>
            <span class="header__roles">
              <ng-container *ngFor="let role of userDetails.role">
                {{ role }}
              </ng-container>
            </span>
          </div>
          <span *ngIf="username" class="header__avatar">{{ username.charAt(0) }}</span>
        </div>
        <div class="dropdown dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
          <ul class="dropdown__list">
            <li class="dropdown__list-item dropdown-item">
              <a class="dropdown__list-item" (click)="openModal(redeemKey)">Redeem Reseller Keys</a>
            </li>
            <li class="dropdown__list-item dropdown-item">
              <a class="dropdown__list-item" (click)="openModal(editAccountSettings)">Hanbot ID</a>
            </li>
            <ng-container *ngFor="let role of userDetails.role">
              <li *ngIf="role == 'reseller'" class="dropdown__list-item dropdown-item">
                <a class="dropdown__list-item" routerLink="/reseller-keys">Reseller Keys</a>
              </li>
            </ng-container>
            <li class="dropdown__list-item dropdown-item">
              <a class="dropdown__list-item" routerLink="/account">Keys</a>
            </li>
            <li class="dropdown__list-item dropdown-item">
              <button class="dropdown__list-item" (click)="logout()" type="button">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <a *ngIf="!isAuthenticated" class="header__user-actions-login" routerLink="/authentication/login"
       queryParamsHandling="preserve">
      Login
    </a>

    <i class="header__mobile-menu-toggle gg-menu-right-alt" (click)="toggleMobileMenu()"></i>
  </div>
</div>

<div class="mobile-menu" [ngClass]="{'mobile-menu--open': mobileMenu}">
  <ul class="mobile-menu__list">
    <ng-container *ngIf="userDetails">
      <ng-container *ngFor="let role of userDetails.role">
        <li *ngIf="role === 'admin'" class="mobile-menu__list-item">
          <a class="mobile-menu__list-item" (click)="toggleMobileMenu()" routerLink="/admin">Admin Dashboard</a>
        </li>
        <li *ngIf="role === 'developer'" class="mobile-menu__list-item">
          <a class="mobile-menu__list-item" routerLink="/dashboard/scripts">Dashboard Scripts</a>
        </li>
      </ng-container>
      <li class="mobile-menu__list-item">
        <a class="mobile-menu__list-item" (click)="openModal(editAccountSettings)">
          Hanbot ID
        </a>
      </li>
    </ng-container>
    <li class="mobile-menu__list-item">
      <a class="mobile-menu__list-item" (click)="toggleMobileMenu()" routerLink="/shop">
        Shop
      </a>
    </li>
    <li class="mobile-menu__list-item">
      <a class="mobile-menu__list-item" (click)="toggleMobileMenu()" routerLink="/account">
        Keys
      </a>
    </li>
    <li *ngIf="isAuthenticated" class="mobile-menu__list-item">
      <span class="mobile-menu__list-item" (click)="logout(); toggleMobileMenu()">
        Logout
      </span>
    </li>
  </ul>
</div>

<ng-template #editAccountSettings>
  <div class="modal modal-content">
    <div class="modal__header">
      <h3 class="modal__header-title">Edit your account</h3>
      <p *ngIf="idInputEmpty" class="modal__header-error">You must input a numerical value for your Hanbot ID</p>
    </div>
    <div class="modal__body container-fluid">
      <form class="row no-gutters" [formGroup]="settingsForm" (ngSubmit)="submitSettingsForm()">
        <div class="form-group col-12">
          <label class="form-control-label" for="hanbot-id">Hanbot User ID</label>
          <input class="form-control" id="hanbot-id" formControlName="hanbotId" type="text">
        </div>

        <button class="button button--outline button--block" type="submit">Save Settings</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #redeemKey>
  <div class="modal modal-content">
    <div class="modal__header">
      <h3 class="modal__header-title">Redeem your key</h3>
      <p *ngIf="notFound" class="modal__header-error">This key has already been used or it is not found</p>
      <p *ngIf="alreadyRedeemed" class="modal__header-error">You already own this script.</p>
    </div>
    <div class="modal__body container-fluid">
      <form class="row no-gutters" [formGroup]="redeemKeysForm" (ngSubmit)="redeemResellerKey()">
        <div class="form-group col-12">
          <label class="form-control-label" for="key">Key</label>
          <input class="form-control" id="key" formControlName="key" type="text">
        </div>

        <button class="button button--outline button--block" type="submit">Redeem Key</button>
      </form>
    </div>
  </div>
</ng-template>
