.users {
  @extend .index;
}

.users__header {
  @extend .scripts__header;
}

.users__header-info {
  font-size: .875rem;
}

.users__header-page-title {
  @extend .scripts__header-page-title;
}

.users__grid {
  display: grid;
  gap: 1rem;
  grid-template: auto / repeat(auto-fill, minmax(21rem, 1fr));
  padding-left: 0;
}

.users__grid-header {
  margin-bottom: 0;

  @extend .scripts__header;
}

.users__user-details {
  max-width: 73%;

  @extend .scripts__script-details;
}

.users__avatar {
  @extend .scripts__script-details-image;
}

.users__user-details-info {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.users_username {
  letter-spacing: 1px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;

  @extend .scripts__script-details-name;
}

.users_email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users__options {
  @media #{$mobile-lg} {
    padding: 0;
    width: 100%;
  }
}

.users__options-button {
  @media #{$mobile-lg} {
    margin-top: 12px;
    width: 100%;
  }
}
