<!--done-->
<div class="login">
  <div class="login__form-box">
    <div class="login__form-box-header">
      <h1 class="login__form-box-title">Forgot Your Password?</h1>
      <p class="login__form-box-message">
        Fill out your email and we'll send you a password reset.
      </p>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="submitForgotForm()">
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="gg-mail"></i>
            </span>
          </div>
          <input class="form-control" id="email" formControlName="email" placeholder="Email" type="email"
                 aria-label="email">
        </div>
      </div>
      <button class="button button--outline button--block" type="submit">
        Send Email
      </button>
    </form>
  </div>

  <div class="login__other-options">
    <a class="login__register-link" routerLink="/authentication/register">
      <small>Create account</small>
    </a>
    <a class="login__register-link" routerLink="/authentication/login">
      <small>Login</small>
    </a>
  </div>
</div>
