<div class="sidenav">
  <nav class="sidenav__nav">
    <h2 class="sidenav__nav-header">Other Links</h2>
    <ul class="sidenav__nav-list">
      <li class="sidenav__nav-list-item">
        <a class="sidenav__nav-list-item" routerLink="shop">
          <i class="gg-tag"></i> Shop
        </a>
      </li>
    </ul>
    <h2 class="sidenav__nav-header">Dashboard</h2>
    <ul class="sidenav__nav-list">
      <li class="sidenav__nav-list-item">
        <a class="sidenav__nav-list-item" routerLink="dashboard">
          <i class="gg-home-alt"></i> Dashboard
        </a>
      </li>
      <li class="sidenav__nav-list-item">
        <a class="sidenav__nav-list-item" routerLink="scripts">
          <i class="gg-file-document"></i> Scripts
        </a>
      </li>
      <li class="sidenav__nav-list-item">
        <a class="sidenav__nav-list-item" routerLink="users">
          <i class="gg-user"></i> Users
        </a>
      </li>
    </ul>
  </nav>
</div>
